doctype html
html(lang="en")
	head
		include ../layout/head
	body 
		include ../layout/header
		main
			include ../modules/features
			include ../modules/program-report
			include ../modules/technology
			include ../modules/speedsecurity
			include ../modules/darkMode
			include ../modules/pricing
			include ../modules/testimonials
			include ../modules/download
			include ../modules/faq
		include ../layout/footer
		include ../layout/scripts