block footer 
	footer.footer 
		a(href="#").footer__link
			img(src="static/images/common/logo-happy-footer.png", alt="Haapy").logo-footer__i
		.social
			a(href="#", target="_blank").social__link
				img(src="static/images/content/icon-twitter.png", alt="Twitter").social__i
			a(href="#", target="_blank").social__link
				img(src="static/images/content/icon-inst.png", alt="Instagram").social__i
			a(href="#", target="_blank").social__link
				img(src="static/images/content/icon-facebook.png", alt="Facebook").social__i
		.rights-reserved
			p.rights-reserved__text Powered by 
			a(href="#", target="_blank").rights-reserved__link Webflow
			<span class="rights-reserved__text">. All rights reserved by Happy Apps, Inc. </span>
			a(href="#", target="_blank").rights-reserved__link Licensing
			span.rights-reserved__text .