block header 
	header#header
		.block__in 
			.section__in
				.menu__wrap 
					a(href="#").logo
						img(src="static/images/common/logo-happy.png", alt="Happy").logo__i
					nav.menu-nav
						ul.menu-nav__list 
							li.menu-nav__item 
								a(href="#").menu-nav__link Features
							li.menu-nav__item 
								a(href="#").menu-nav__link Pricing
							li.menu-nav__item 
								a(href="#").menu-nav__link Testimonials
							li.menu-nav__item 
								a(href="#").menu-nav__link Instructions
					a(href="#").btn.btn__menu_bg Get template
					img(src="static/images/content/burger.png", alt="Menu").menu-burger
			.offer 
				.offer__in
					.offer__info
						a(href="#").logo-offer
							img(src="static/images/common/logoBig-happy.png", alt="Happy").logo-offer__i
						h1.offer__title.title-h1 The future of digital photos.
						p.offer__text The H(app)y app is the latest & greatest in phone photography. It's available in the App Store right now. Go check it out!
						.offer__btn 
							a(href="#").btn.btn__offer_bg.btn__offer_indent Download
							a(href="#").btn.btn__offer_bg Read more
					img(src="static/images/content/offer-i.png", alt="Mobile").offer__i._anim-items._anim-no-hide

