block darkMode
	section.darkmode 
		.section__in 
			p.darkmode__text-title.section__text-title Dark mode
			h2.darkmode__title.title-h2 Also available in dark.
			p.darkmode__text.section__text Don't get blinded when using the H(app)y app at night, just turn off the lights. Lorem ipsum dolor sit amet.
			img(src="static/images/content/darkmode-i.jpg", alt="Dark mode").darkmode__i
			.theme 
				.theme__item 
					img(src="static/images/content/icon-light.png", alt="Light Mode").theme__i
					p.theme__text Light Mode
				.theme__item 
					img(src="static/images/content/icon-dark.png", alt="Dark Mode").theme__i
					p.theme__text Dark Mode
