block download
	section.download 
		.section__in 
			p.download__text-title.section__text-title Download
			h2.download__title.title-h2 It's available right now!
			p.download__text.section__text Duis tristique sed lorem a vestibulum. Cras commodo consequat orci, in convallis risus egestas non.
			a(href="#").btn.btn__download.btn__download_black
				img(src="static/images/content/icon-apple.png", alt="Download").btn__i
				.btn__text
					p.btn__download-text Download on the
					p.btn__app-text App store
