block features
	section.features
		.section__in 
			p.features__text.section__text-title Features
			h2.features__title.title-h2 The latest & greatest in phone photography.
			.features-cards 
				.features-card
					img(src="static/images/content/feature-calendar-i.png", alt="Calendar").features-card__i
					.features-card__icon.features-card__icon_setting-calendar
						img(src="static/images/content/icon-calendar.png", alt="Calendar").features-card__iv
					.features-card__texts 
						h3.title-h3.features-card__title.features-card__title_blue Calendar view
						p.features-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque aliquam odio et faucibus. 
				.features-card
					img(src="static/images/content/feature-lists-i.png", alt="Lists").features-card__i
					.features-card__icon.features-card__icon_setting-lists
						img(src="static/images/content/icon-list.png", alt="Lists").features-card__iv
					.features-card__texts 
						h3.title-h3.features-card__title.features-card__title_red Lists
						p.features-card__text Dolor sit amet urna turpis. Mauris euismod elit et nisi ultrices, ut faucibus orci tincidunt.
				.features-card
					img(src="static/images/content/feature-varied-i.png", alt="Varied type").features-card__i
					.features-card__icon.features-card__icon_setting-varied
						img(src="static/images/content/icon-alphabet.png", alt="Varied type").features-card__iv
					.features-card__texts 
						h3.title-h3.features-card__title.features-card__title_yellow Varied type
						p.features-card__text Nulla rhoncus feugiat eros quis consectetur. Morbi neque ex, condimentum dapibus congue.
				.features-card
					img(src="static/images/content/feature-split-i.png", alt="Calendar").features-card__i
					.features-card__icon.features-card__icon_setting-split
						img(src="static/images/content/icon-split.png", alt="Split-screen").features-card__iv
					.features-card__texts
						h3.title-h3.features-card__title.features-card__title_pink Split-screen
						p.features-card__text Vestibulum ultrices, orci nec egestas pharetra, ligula est semper enim, nec auctor sapien leo nec purus.
				.features-card
					img(src="static/images/content/feature-uploads-i.png", alt="Uploads").features-card__i
					.features-card__icon.features-card__icon_setting-uploads
						img(src="static/images/content/icon-uploads.png", alt="Uploads").features-card__iv
					.features-card__texts 
						h3.title-h3.features-card__title.features-card__title_turquoise Uploads
						p.features-card__text Duis tristique sed lorem a vestibulum. Cras commodo consequat orci, in convallis risus egestas non.
				.features-card
					img(src="static/images/content/feature-focus-i.png", alt="Focus mode").features-card__i
					.features-card__icon.features-card__icon_setting-focus
						img(src="static/images/content/icon-focus.png", alt="Focus mode").features-card__iv
					.features-card__texts 
						h3.title-h3.features-card__title.features-card__title_violet Focus mode
						p.features-card__text Lorem sit amet urna turpis. Mauris euismod elit et nisi ultrices, ut faucibus orci tincidunt.


