block pricing
	section.pricing 
		.section__in 
			p.pricing__text-title.section__text-title Pricing
			h2.pricing__title.title-h2 A plan for every need.
			p.pricing__text.section__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque aliquam odio et faucibus. 
			.pricing-card 
				.pricing-card__item 
					p.pricing-card__text.pricing-card__text_blue Standard
					p.pricing-card__price.pricing-card__price_blue $9
					p.pricing-card__period Monthly
					a(href="#").btn.btn__pricing.btn__pricing_blue Buy now
				.pricing-card__item 
					p.pricing-card__text.pricing-card__text_red Premium
					p.pricing-card__price.pricing-card__price_red $99
					p.pricing-card__period Annually
					a(href="#").btn.btn__pricing.btn__pricing_red Buy now
				.pricing-card__item 
					p.pricing-card__text.pricing-card__text_yellow Standard
					p.pricing-card__price.pricing-card__price_yellow $149
					p.pricing-card__period Up front
					a(href="#").btn.btn__pricing.btn__pricing_yellow Buy now