block program-report
	section.program-report
		.section__in
			.reports 
				.report 
					p.report__number 400+
					p.report__text Pictures analyzed
				.report 
					p.report__number 25+
					p.report__text Operations per minute
				.report 
					p.report__number 95%
					p.report__text Accuracy