block speedsecurity
	section.speedsecurity
		.section__in.section_bg-speedsecurity
			.section__info
				.speedsecurity__info
					p.speedsecurity__text.section__text-title Speed & security
					h2.speedsecurity__title.title-h2 State-of-the-art processing capabilities.
					p.speedsecurity__text.section__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
				img(src="static/images/content/speedsecurity-i.png", alt="").speedsecurity__i._anim-items._anim-no-hide