block technology
	section.technology
		.section__in
			.section__info
				.technology__info
					p.technology__text.section__text-title Technology
					h2.technology__title.title-h2 Use H(app)y to give your digital photos some pop.
					p.technology__text.section__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
				img(src="static/images/content/technology-i.png", alt="").technology__i._anim-items._anim-no-hide