block testimonials
	section.testimonials 
		.section__in 
			p.testimonials__text-title.section__text-title Testimonials
			h2.testimonials__title.title-h2 Don't take our word for it.
			p.testimonials__text.section__text See what our customers are saying.
			.testimonials-card 
				.testimonials-card__item 
					p.testimonials-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus.
					.author 
						img(src="static/images/content/poto-pam.jpg", alt="Pam Beesly").author__i
						.author__text
							p.author__name Pam Beesly
							p.author__profession Dunder Mifflin
				.testimonials-card__item 
					p.testimonials-card__text Nulla efficitur auctor hendrerit. Etiam ut orci varius, faucibus libero ac, cursus quam. Aenean porta neque eget consequat fringilla.
					.author 
						img(src="static/images/content/poto-michael.jpg", alt="Michael Scott").author__i
						.author__text
							p.author__name Pam Beesly
							p.author__profession Dunder Mifflin
				.testimonials-card__item 
					p.testimonials-card__text Vestibulum ultrices, orci nec egestas pharetra, ligula est semper enim, nec auctor sapien leo nec purus.
					.author 
						img(src="static/images/content/poto-angels.jpg", alt="Angels Schrute").author__i
						.author__text
							p.author__name Pam Beesly
							p.author__profession Dunder Mifflin